OPENAI_API_KEY=your_openai_api_key_here
GOOGLE_API_KEY=your_google_api_key_here
DB_NAME=db_psql_docker_compose
DB_USER=user_psql_docker_compose
DB_PASSWORD=YourPsqlDockerComposePassword
DB_HOST=localhost
DB_PORT=5432